@font-face{
	font-family: Lato-Regular;
	src: url(../fonts/Lato-Regular.ttf);
}
@font-face{
	font-family: Lato-Bold;
	src: url(../fonts/Lato-Bold.ttf);
}

/*common starts*/
body{
	margin: 0;
	padding: 0;
	font-family: Lato-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #999999;
	background-color: #f6f9f9;
	cursor: default;
}
/*common ends*/
/*header starts*/
.header{
	padding: 20px 0;
}
.container{
	margin: 0 auto;
	padding: 0;
	width: 80%;
	overflow: hidden;
/*	border: 1px solid red;
*/}
.logo{
	width: 12%;
}
.logo img{
	width: 100%;
}

/*header ends*/
/* banner starts*/
.banner{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
}
.container2{
	margin: 0 auto;
	width: 40%;
	color: white;
	text-align: center;
/*	border: 1px solid red;
*/}
.container2 h1{
	margin: 0;
	padding-top: 150px;
	padding-bottom: 30px;
	font-family: Lato-Bold;
	font-size: 120px;
	font-weight: 700;
	border-bottom: 2px solid #15a4fa;
}
.bannerp{
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 0;
	font-family: Lato-Regular;
	font-size: 18px;
	font-weight: 400;
	color: white;	
}
.button{
	margin: 0px;
	padding: 15px 30px;
	font-family: Lato-Regular;
	font-size: 18px;
	font-weight: 400;
	color: white;
	background-color: transparent;
	border: 1px solid #15a4fa;
	border-radius: 3px;
	transition: .3s;
}
.button:hover{
	background-color: #15a4fa;
}
.i{
	margin: 0 auto;
    margin-top: 120px;
	width: 3%;
    padding-bottom: 50px;
    font-size: 16px;
    transition: .3s;
}
.i:hover{
	color: #15a4fa;
}
/* banner ends*/
/*design starts*/
.design{
	padding-top: 70px;
	padding-bottom: 100px;
	text-align: center;
}
.h1{
	margin: 0;
	font-size: 40px;
	color: #2d3950;
}
.text{
	margin: 0;
	margin-top: 30px;

}
/*design ends*/
/*single starts*/
.single{
	background-color: #fff;
	text-align: center;
}
.single-cont{
	padding: 50px 25px;
	float: left;
	width: 33.33%;
}
.s-img{
	font-size: 50px;
	color: #fff;
	background-image: url(../images/iconbg.jpg);
	background-size: cover;
	background-position: center;
}
.s-img1{
	padding: 20px 30px;
}
.s-img2{
	padding: 20px 20px;
}
.s-img3{
	padding: 20px 25px;
}
.single-cont h1 , .single-cont h2{
	margin-top: 25px ;
	font-size: 22px;
}
/*single ends*/
/*showcase starts*/
.showcase{

}
.sc-cont{
	margin: 50px 0;
	text-align: center;

}
.sc-cont h1 {
	font-size: 41px;
}
.sc-cont p{
	margin-top: 15px;
}
.sc-image{
	padding-bottom: 70px;
	overflow: hidden;
}
.sc-image img{
	padding: 15px;
    width: 31.47%;
    box-sizing: content-box;
    float: left;
    transition: .3s
}
.sc-image img:hover{
	opacity: .5;
}
.sc-image img:nth-child(1) , .sc-image img:nth-child(4){
	padding-left: 0;
}
.sc-image img:nth-child(3) , .sc-image img:nth-child(6){
	padding-right: 0;
}
/*showcase ends*/
/*sub starts*/
.sub{
	background-image: url(../images/subsbg.jpg);
	background-size: cover;
	background-position: center;
}
.sub-cont h1{
	padding: 50px 0 5px;
	font-family:Lato-Regular;
	font-size: 41px;
	font-weight: 400;
	border: none;
}
.sub-cont p{
	margin: 0;
	font-size: 15px;
	color: #999999;
}
.form{
	margin-top: 35px;
	padding-bottom: 150px;
	position: relative;
}
.input{
	margin-bottom: 15px;
	padding: 15px;
	font-family: Lato-Regular;
	font-size: 15px;
	font-weight: 400;
	width: 90%;
	background: transparent;
	border: 1px solid #999999;
	border-radius: 3px;
	outline: none;
	transition: .3s;
	cursor: text;
}
::placeholder{
	color: #999999;
	transition: .3s;
}
:hover::placeholder{
	color: #fff;
}
.input:hover{
	border: 1px solid #15a4fa;
}
.input,select ,.input:focus{
	color: #fff;
}
.checkbox{
	position: absolute;
	left: 25px;
 	bottom: 125px;
	height: 15px;
	width: 15px;
	background-color: #999;
	cursor: pointer;
}
.label{
	font-size: 15px;
	position: absolute;
	left: 50px;
	bottom: 123px;
	transition: .3s;
}
.label:hover {
	color: #15a4fa;
}

.send{
	padding: 8px 40px;
	font-family: Lato-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	position: absolute;
	right: 25px;
	bottom: 110px;
	background: transparent;
	border: 1px solid #15a4fa;
	border-radius: 3px;
	transition: .3s;
}
.send:hover{
	background-color: #15a4fa;
}
/*sub ends*/
/*footer starts*/
.footer{}
.footer-cont{
	overflow: hidden;
}
.footer-cont h1{
	margin: 0;
	padding: 25px 0;
	width: 15%;
	font-size: 15px;
	float: left;
}
.menu2{
	margin: 0;
	padding: 14px 0;
	float: right;
	width: 30%;
}
.menu2 ul{
	margin: 0;
	padding: 0;
	float: right;
}
.menu2 ul li{
	margin-right: 3px;
	list-style: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #15a4fa;
	border: none;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.menu2 ul li:last-child {
	margin-right: 0;
}
.menu2 ul li a img{
	margin: 14px 0;
}
/*footer ends*/